@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sofia+Sans&display=swap");
html {
	// max-width: 80ch;
	padding: 3em 1em;
	margin: auto;
	line-height: 1.75;
	font-size: 1.25em;
	margin-bottom: 200%;
	font-family: "Sofia Sans", sans-serif;
}

* {
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 3em 0 1em;
	font-family: "Bebas Neue", cursive;
}

p,
ul,
ol {
	margin-bottom: 2em;
	color: #1d1d1d;
}
