.hotspots {
	.jump1,
	.jump2 {
		position: absolute;
		top: 20px;
		left: 20px;
		width: calc(100% - 400px);
		background: rgba(255, 255, 255, 0.342);
		height: calc(100% - 40px);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 40px;
		padding: 40px;
		font-family: "Bebas Neue", cursive;
		transition: 0.2s ease all;
		cursor: pointer;
		opacity: 0;
		&:hover {
			background: rgba(255, 255, 255, 0.7);
		}
	}
	.jump2 {
		left: calc(50% + 20px);
	}

	.back {
		background-color: #fff;
		color: #000;
		position: absolute;
		bottom: 10px;
		right: 10px;
		height: 20px;
		padding: 0px;
		display: flex !important;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		font-size: 18px;
		opacity: 1 !important;
		padding: 10px;
		cursor: pointer;
		&:hover {
			background-color: rgb(255, 218, 87);
		}
	}
	.link1,
	.link2 {
		position: absolute;
		top: 80px;
		right: 40px;
		a {
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			font-family: "Bebas Neue", cursive;
			font-size: 25px;
			&:hover {
				color: rgb(255, 218, 87);
			}
		}
	}

	.link2 {
		top: 180px;
	}

	.button {
		opacity: 0;
		background: yellow;
		position: absolute;
		right: 20px;
		bottom: 20px;
		padding: 10px;
		font-size: 12px;
		cursor: pointer;
		max-width: 150px;
	}

	.move {
		position: absolute;
		top: 0;
		left: 0;
		right: auto;
		bottom: auto;
		width: 20px;
		height: 20px;
		background-color: red;
		border-radius: 50%;
		overflow: hidden;
		display: none;
		opacity: 0;
	}

	.buttonOverlay {
		position: absolute;
		// top: -15px;
		// left: -15px;
		opacity: 0;
		cursor: pointer;
		padding: 20px;

		&:hover span {
			background-color: rgb(255, 218, 87);
		}
		span {
			width: 30px;
			height: 30px;
			background: #fff;
			color: #000;
			border-radius: 30px;
			justify-content: center;
			align-items: center;
			display: flex;
		}
	}

	.overlay {
		position: absolute;
		width: calc(100% - 100px);
		height: calc(100% - 100px);
		margin: 50px;
		background: #fff;
		padding: 20px;
		opacity: 0;
		transform: scale(0);

		.store {
			display: flex;

			.image {
				padding: 20px;
				width: 30%;
				img {
					width: 100%;
				}
			}

			.content {
				width: 70%;
				h2 {
					margin-top: 0;
				}
			}

			button {
				display: inline-block;
				outline: 0;
				cursor: pointer;
				border: 2px solid #000;
				border-radius: 3px;
				color: #fff;
				background: #000;
				font-size: 20px;
				font-weight: 600;
				line-height: 28px;
				padding: 12px 20px;
				text-align: center;
				transition-duration: 0.15s;
				transition-property: all;
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
				&:hover {
					color: #000;
					background: rgb(255, 218, 87);
				}
			}
		}

		&-close {
			all: unset;
			cursor: pointer;
			position: absolute;
			right: -20px;
			top: -20px;
			padding: 10px;
			background: #000;
			color: #fff;
			border-radius: 50%;
			width: 30px;
			height: 30px;
			font-size: 14px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 2px solid transparent;
			&:before {
				cursor: pointer;
				font-family: HeydingsControlsRegular;
				content: attr(data-icon);
			}
			&:hover {
				background: rgb(255, 218, 87);
				border: 2px solid #000;
				color: #000;
			}
		}
	}

	.link {
		background: blue;
		position: absolute;
		top: 40px;
		left: 60px;
		padding: 10px;
		font-size: 16px;
		border-radius: 2px;
		opacity: 0;
		transform: scale(0);
		cursor: pointer;
	}
}
