.interactive-video {
	position: relative;
	overflow: hidden;
	line-height: 0;
	width: 1200px;
	height: auto;

	video {
		z-index: 0;
		object-fit: fill;
		width: 100%;
	}

	.hotspots {
		top: 48px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		line-height: 1.75;
	}
}
