.interactive-video {
  position: relative;
  overflow: hidden;
  line-height: 0;

  video {
    z-index: 0;
    object-fit: fill;
  }

  .hotspots {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 1.75;
  }
}
